[submodule "inventory"]
	path = inventory
	url = https://github.com/aya894/inventory.git
[submodule "schedule"]
	path = schedule
	url = https://github.com/aya894/schedule.git
[submodule "AmphibianCard"]
	path = AmphibianCard
	url = https://github.com/aya894/AmphibianCard.git
[submodule "Bookshelf"]
	path = Bookshelf
	url = https://github.com/aya894/Bookshelf.git
[submodule "training_mars_photos"]
	path = training_mars_photos
	url = https://github.com/aya894/training_mars_photos.git
[submodule "Mars-Photos"]
	path = Mars-Photos
	url = https://github.com/aya894/Mars-Photos.git
[submodule "Race-Tracker"]
	path = Race-Tracker
	url = https://github.com/aya894/Race-Tracker.git
[submodule "Dessert-Clicker"]
	path = Dessert-Clicker
	url = https://github.com/aya894/Dessert-Clicker.git
[submodule "basic-android-kotlin-compose-training-unscramble"]
	path = basic-android-kotlin-compose-training-unscramble
	url = https://github.com/aya894/basic-android-kotlin-compose-training-unscramble.git
[submodule "Art-Space"]
	path = Art-Space
	url = https://github.com/aya894/Art-Space.git
[submodule "Tip-Time"]
	path = Tip-Time
	url = https://github.com/aya894/Tip-Time.git
[submodule "lemonade"]
	path = lemonade
	url = https://github.com/aya894/lemonade.git
[submodule "Dice-Roller"]
	path = Dice-Roller
	url = https://github.com/aya894/Dice-Roller.git
[submodule "jetpackCompose"]
	path = jetpackCompose
	url = https://github.com/aya894/jetpackCompose.git
[submodule "carteVisite"]
	path = carteVisite
	url = https://github.com/aya894/carteVisite.git
[submodule "composeQuadrant"]
	path = composeQuadrant
	url = https://github.com/aya894/composeQuadrant.git
[submodule "taskCompleted"]
	path = taskCompleted
	url = https://github.com/aya894/taskCompleted.git
[submodule "happy_birthday"]
	path = happy_birthday
	url = https://github.com/aya894/happy_birthday.git
