[submodule "inventory"]
	path = inventory
	url = https://github.com/aya894/inventory.git
[submodule "schedule"]
	path = schedule
	url = https://github.com/aya894/schedule.git
[submodule "AmphibianCard"]
	path = AmphibianCard
	url = https://github.com/aya894/AmphibianCard.git
[submodule "Bookshelf"]
	path = Bookshelf
	url = https://github.com/aya894/Bookshelf.git
